div.homepage,
div.addPost,
div.authentication,
div.authUserSettings,
div.completeRegistration,
div.registration,
div.showPost,
div.userProfile,
div.loading,
div.notFound {
    padding: 1rem;
    padding-top: 7rem;
}

ul {
    list-style: none;
    padding: 0;
}

@media (min-width: 768px) {
    div.container-fluid {
        width: 75%;
    }
}