div.homepage,
div.addPost,
div.authentication,
div.authUserSettings,
div.completeRegistration,
div.registration,
div.showPost,
div.userProfile {
    padding: 1rem;
    padding-top: 7rem;
}

@media (min-width: 768px) {
    div.container-fluid {
        width: 75%;
    }
}