header {
    border-bottom: 1px solid lightgrey;

    img {
        width: 70px;
        height: 70px;
    }

    p {
        margin: .2rem;
        font-weight: 600;

        &.name {
            color: grey;
        }
    }
}