header {
    height: 8vh;
    border-bottom: 1px solid lightgrey;

    div.profilePicContainer {
        aspect-ratio: 1;
    }

    p {
        margin: .2rem;
        font-weight: 600;

        &.name {
            color: grey;
        }
    }
}