i.searchIcon {
    top: 30%;
    color: grey;
    left: 2%;
}

input.searchUsers {
    border: 1px solid lightgrey;
    padding: .3rem 2.5rem;

    &:focus {
        outline: 1px solid lightgrey;
    }
}

ul {
    top: 120%;
    padding: 0;
    cursor: default;

    li {
        p {
            margin: .2rem;
            font-weight: 600;
            white-space: nowrap;
    
            &.name {
                color: grey;
            }
        }
    }

    &.foundUsers {
        cursor: pointer;

        li {
            transition: all .3s ease;

            img {
                width: 60px;
                height: 60px;
            }

            &:hover {
                background-color: rgb(234, 234, 234);
            }
        }
    }
}