div.showPost {
    img.profilePic {
        width: 40px;
        height: 40px;
    }

    img.postPic {
        width: 1400px;
        max-width: 100%;
        max-height: 1000px;
    }

    span.location {
        overflow-wrap: break-word;
        font-size: .8rem;
    }

    button {
        padding: .4rem 1rem;

        &.delete {
            color: red;
            background-color: white;

            &:hover {
                background-color: rgb(255, 236, 236);
            }
        }
    }

    @media (min-width: 768px) {
        div.borderMd {
            border: 1px solid #dee2e6;
        }
    }

    div.postInfoContainer {
        min-height: 55vh;
        
        i.postIcon {
            font-size: 2rem;
            margin-right: 2rem;
            color: black;
            cursor: pointer;
        
            &:hover {
                color: grey;
            }
        }

        p.description {
            overflow-wrap: break-word;
        }

        span.date {
            color: grey;
            font-size: .8rem;
        }
    }
}